body
    background #A9A9A9

.visit-button
    font-weight 800
    border white 4px solid
    display block
    box-sizing border-box
    margin 15px auto
    padding 8px
    width 150px
    max-width 200px
    background none //rgba(240, 0, 255, .4)
    color white
    text-align center
    text-decoration none
    letter-spacing 1px
    transition all 0.3s ease-out
    &:hover
        background white
        color #101828
        transition all 0.5s ease-in
